setuptools<81
beautifulsoup4==4.14.3
emoji==2.15.0
gensim==4.4.0
ipython==9.10.1
keras==3.14.0
matplotlib==3.10.8
nltk==3.9.4
numpy==2.4.4
pandas==3.0.2
protobuf==7.34.1
pysentiment2==0.1.1
scikit_learn==1.8.0
scipy==1.17.1
scorecardpy==0.1.9.7
seaborn==0.13.2
statsmodels==0.14.6
tensorflow==2.21.0
torch==2.11.0
tqdm==4.67.3
transformers==5.6.1
xgboost==3.2.0
optuna==4.8.0
keras-tuner==1.4.8
tensorboard==2.20.0
openTSNE==1.0.4